// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.travel-checked-box{
  .control-label{
    margin-left: 25px;
  }
}

#profile_for_airport_ids_1{
  margin-left: 25px;
}

#profile_for_high_rail_ids_1{
  margin-left: 25px;
}